#portfolio {
    padding: 40px 20px;
    text-align: center;
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    z-index: 1; /* Ensure the projects section is stacked properly */
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    min-height: 200px;
    z-index: 1;
    box-sizing: border-box; /* Added for box sizing */
}

.project-card:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.project-card a {
    text-decoration: none;
    display: block;
    height: 100%;
}

.project-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 5px solid #0077b5;
}

.project-card:hover .project-image img {
    opacity: 0.8;
}

.project-info {
    padding: 5px;
    background-color: #f0faff;
}

.project-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Styles for the buttons */
.buttons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 3; /* Make sure the buttons are above the card image */
    margin-top: 10px;
}

.button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000000; /* Green background by default */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #17ae37; /* Darker green when hovered */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 1s ease;
}

.button:hover img {
    opacity: 1;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 20px;  
    }

    .project-card {
        height: 250px;
    }
}

@supports (-webkit-appearance:none) {
    /* Safari-specific fixes here */
    .project-card {
        height: 200px; /* adjust for Safari if needed */
    }
}
